Project stoped - GTO IS COUNTY BASED, NOT METRO AREA

In [1]:
import pandas as pd

In [8]:
ls ../input/CBSA

list1_2015xls.xls  list1_2020.xls     list3_2005.xls     list3_2009.xls

In [14]:
help(pd.read_excel)

Help on function read_excel in module pandas.io.excel._base:

read_excel(io, sheet_name=0, header=0, names=None, index_col=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, keep_default_na=True, verbose=False, parse_dates=False, date_parser=None, thousands=None, comment=None, skipfooter=0, convert_float=True, mangle_dupe_cols=True, **kwds)
    Read an Excel file into a pandas DataFrame.

    Supports `xls`, `xlsx`, `xlsm`, `xlsb`, and `odf` file extensions
    read from a local filesystem or URL. Supports an option to read
    a single sheet or a list of sheets.

    Parameters
    ----------
    io : str, bytes, ExcelFile, xlrd.Book, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: ``file://localhost/path/to/table.xlsx``.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method,
        such as a file handler (e.g. via builtin ``open`` function)
        or ``StringIO``.
    sheet_name : str, int, list, or None, default 0
        Strings are used for sheet names. Integers are used in zero-indexed
        sheet positions. Lists of strings/integers are used to request
        multiple sheets. Specify None to get all sheets.

        Available cases:

        * Defaults to ``0``: 1st sheet as a `DataFrame`
        * ``1``: 2nd sheet as a `DataFrame`
        * ``"Sheet1"``: Load sheet with name "Sheet1"
        * ``[0, 1, "Sheet5"]``: Load first, second and sheet named "Sheet5"
          as a dict of `DataFrame`
        * None: All sheets.

    header : int, list of int, default 0
        Row (0-indexed) to use for the column labels of the parsed
        DataFrame. If a list of integers is passed those row positions will
        be combined into a ``MultiIndex``. Use None if there is no header.
    names : array-like, default None
        List of column names to use. If file contains no header row,
        then you should explicitly pass header=None.
    index_col : int, list of int, default None
        Column (0-indexed) to use as the row labels of the DataFrame.
        Pass None if there is no such column.  If a list is passed,
        those columns will be combined into a ``MultiIndex``.  If a
        subset of data is selected with ``usecols``, index_col
        is based on the subset.
    usecols : int, str, list-like, or callable default None
        * If None, then parse all columns.
        * If str, then indicates comma separated list of Excel column letters
          and column ranges (e.g. "A:E" or "A,C,E:F"). Ranges are inclusive of
          both sides.
        * If list of int, then indicates list of column numbers to be parsed.
        * If list of string, then indicates list of column names to be parsed.

          .. versionadded:: 0.24.0

        * If callable, then evaluate each column name against it and parse the
          column if the callable returns ``True``.

        Returns a subset of the columns according to behavior above.

          .. versionadded:: 0.24.0

    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `object` to preserve data as stored in Excel and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : str, default None
        If io is not a buffer or path, this must be set to identify io.
        Acceptable values are None, "xlrd", "openpyxl" or "odf".
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can
        either be integers or column labels, values are functions that take one
        input argument, the Excel cell content, and return the transformed
        content.
    true_values : list, default None
        Values to consider as True.
    false_values : list, default None
        Values to consider as False.
    skiprows : list-like
        Rows to skip at the beginning (0-indexed).
    nrows : int, default None
        Number of rows to parse.

        .. versionadded:: 0.23.0

    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values. By default the following values are interpreted
        as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    parse_dates : bool, list-like, or dict, default False
        The behavior is as follows:

        * bool. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. If you don`t want to
        parse some cells as date just change their type in Excel to "Text".
        For non-standard datetime parsing, use ``pd.to_datetime`` after ``pd.read_excel``.

        Note: A fast-path exists for iso8601-formatted dates.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    thousands : str, default None
        Thousands separator for parsing string columns to numeric.  Note that
        this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.
    comment : str, default None
        Comments out remainder of line. Pass a character or characters to this
        argument to indicate comments in the input file. Any data between the
        comment string and the end of the current line is ignored.
    skipfooter : int, default 0
        Rows at the end to skip (0-indexed).
    convert_float : bool, default True
        Convert integral floats to int (i.e., 1.0 --> 1). If False, all numeric
        data will be read in as floats: Excel stores all numbers as floats
        internally.
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    **kwds : optional
            Optional keyword arguments can be passed to ``TextFileReader``.

    Returns
    -------
    DataFrame or dict of DataFrames
        DataFrame from the passed in Excel file. See notes in sheet_name
        argument for more information on when a dict of DataFrames is returned.

    See Also
    --------
    to_excel : Write DataFrame to an Excel file.
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    The file can be read using the file name as string or an open file object:

    >>> pd.read_excel('tmp.xlsx', index_col=0)  # doctest: +SKIP
           Name  Value
    0   string1      1
    1   string2      2
    2  #Comment      3

    >>> pd.read_excel(open('tmp.xlsx', 'rb'),
    ...               sheet_name='Sheet3')  # doctest: +SKIP
       Unnamed: 0      Name  Value
    0           0   string1      1
    1           1   string2      2
    2           2  #Comment      3

    Index and header can be specified via the `index_col` and `header` arguments

    >>> pd.read_excel('tmp.xlsx', index_col=None, header=None)  # doctest: +SKIP
         0         1      2
    0  NaN      Name  Value
    1  0.0   string1      1
    2  1.0   string2      2
    3  2.0  #Comment      3

    Column types are inferred but can be explicitly specified

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               dtype={'Name': str, 'Value': float})  # doctest: +SKIP
           Name  Value
    0   string1    1.0
    1   string2    2.0
    2  #Comment    3.0

    True, False, and NA values, and thousands separators have defaults,
    but can be explicitly specified, too. Supply the values you would like
    as strings or lists of strings!

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               na_values=['string1', 'string2'])  # doctest: +SKIP
           Name  Value
    0       NaN      1
    1       NaN      2
    2  #Comment      3

    Comment lines in the excel input file can be skipped using the `comment` kwarg

    >>> pd.read_excel('tmp.xlsx', index_col=0, comment='#')  # doctest: +SKIP
          Name  Value
    0  string1    1.0
    1  string2    2.0
    2     None    NaN

In [18]:
df = pd.read_excel('../input/CBSA/list3_2005.xls', header=3, dtype=str)

In [19]:
df.tail(10)

,CBSA Code,Metro Division Code,CSA Code,CBSA Title,Level of CBSA,"Status, 1=metro 2=micro",Metropolitan Division Title,CSA Title,Component Name,State,FIPS
1853,49700,NaN,NaN,"Yuba City, CA",Metropolitan Statistical Area,1,NaN,NaN,Sutter County,California,06101
1854,49700,NaN,NaN,"Yuba City, CA",Metropolitan Statistical Area,1,NaN,NaN,Yuba County,California,06115
1855,49740,NaN,NaN,"Yuma, AZ",Metropolitan Statistical Area,1,NaN,NaN,Yuma County,Arizona,04027
1856,49780,NaN,NaN,"Zanesville, OH",Micropolitan Statistical Area,2,NaN,NaN,Muskingum County,Ohio,39119
1857,Footnote:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1858,"1 Correction to OMB Bulletin No. 06-01, Update...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1859,"2 Correction to OMB Bulletin No. 06-01, Update...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1860,"Source: Population Division, U.S. Census Bureau",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1861,Internet Release Date: 1/19/2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1862,Last Revised: 6/14/2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# position of footnote
pos = df['CBSA Code'][df['CBSA Code'].str.contains('Footnote:')].index[0]

In [57]:
df = df.iloc[:pos,:]

In [59]:
df.tail()

,CBSA Code,Metro Division Code,CSA Code,CBSA Title,Level of CBSA,"Status, 1=metro 2=micro",Metropolitan Division Title,CSA Title,Component Name,State,FIPS
1852,49660,NaN,566,"Youngstown-Warren-Boardman, OH-PA",Metropolitan Statistical Area,1,NaN,"Youngstown-Warren-East Liverpool, OH-PA",Mercer County,Pennsylvania,42085
1853,49700,NaN,NaN,"Yuba City, CA",Metropolitan Statistical Area,1,NaN,NaN,Sutter County,California,06101
1854,49700,NaN,NaN,"Yuba City, CA",Metropolitan Statistical Area,1,NaN,NaN,Yuba County,California,06115
1855,49740,NaN,NaN,"Yuma, AZ",Metropolitan Statistical Area,1,NaN,NaN,Yuma County,Arizona,04027
1856,49780,NaN,NaN,"Zanesville, OH",Micropolitan Statistical Area,2,NaN,NaN,Muskingum County,Ohio,39119

In [61]:
set(df.iloc[:,7])

{'Albany-Corvallis-Lebanon, OR',
 'Albany-Schenectady-Amsterdam, NY',
 'Ames-Boone, IA',
 'Appleton-Oshkosh-Neenah, WI',
 'Asheville-Brevard, NC',
 'Atlanta-Sandy Springs-Gainesville, GA-AL',
 'Baton Rouge-Pierre Part, LA',
 'Beckley-Oak Hill, WV',
 'Bend-Prineville, OR',
 'Birmingham-Hoover-Cullman, AL',
 'Boston-Worcester-Manchester, MA-RI-NH 2',
 'Brownsville-Harlingen-Raymondville, TX',
 'Buffalo-Niagara-Cattaraugus, NY',
 'Cape Girardeau-Sikeston-Jackson, MO-IL',
 'Charlotte-Gastonia-Salisbury, NC-SC',
 'Chattanooga-Cleveland-Athens, TN-GA',
 'Chicago-Naperville-Michigan City, IL-IN-WI',
 'Cincinnati-Middletown-Wilmington, OH-KY-IN',
 'Claremont-Lebanon, NH-VT',
 'Cleveland-Akron-Elyria, OH',
 'Clovis-Portales, NM',
 'Columbia-Newberry, SC',
 'Columbus-Auburn-Opelika, GA-AL',
 'Columbus-Marion-Chillicothe, OH',
 'Columbus-West Point, MS',
 'Corbin-London, KY',
 'Corpus Christi-Kingsville, TX',
 'Dallas-Fort Worth, TX 2',
 'Dayton-Springfield-Greenville, OH',
 'Deltona-Daytona Beach-Palm Coast, FL',
 'Denver-Aurora-Boulder, CO 1',
 'Denver-Aurora-Boulder, CO1',
 'Des Moines-Newton-Pella, IA',
 'Detroit-Warren-Flint, MI',
 'Dothan-Enterprise-Ozark, AL',
 'Eau Claire-Menomonie, WI',
 'Fairmont-Clarksburg, WV',
 'Fargo-Wahpeton, ND-MN',
 'Findlay-Tiffin, OH',
 'Fond du Lac-Beaver Dam, WI',
 'Fort Polk South-De Ridder, LA',
 'Fort Wayne-Huntington-Auburn, IN',
 'Fresno-Madera, CA',
 'Grand Rapids-Muskegon-Holland, MI',
 'Greensboro--Winston-Salem--High Point, NC',
 'Greenville-Spartanburg-Anderson, SC',
 'Gulfport-Biloxi-Pascagoula, MS',
 'Harrisburg-Carlisle-Lebanon, PA',
 'Hartford-West Hartford-Willimantic, CT',
 'Houston-Baytown-Huntsville, TX',
 'Huntsville-Decatur, AL',
 'Idaho Falls-Blackfoot, ID',
 'Indianapolis-Anderson-Columbus, IN',
 'Ithaca-Cortland, NY',
 'Jackson-Humboldt, TN',
 'Jackson-Yazoo City, MS',
 'Johnson City-Kingsport-Bristol (Tri-Cities), TN-VA',
 'Jonesboro-Paragould, AR',
 'Kansas City-Overland Park-Kansas City, MO-KS',
 'Knoxville-Sevierville-La Follette, TN 2',
 'Kokomo-Peru, IN',
 'Lafayette-Acadiana, LA',
 'Lafayette-Frankfort, IN',
 'Lake Charles-Jennings, LA',
 'Lansing-East Lansing-Owosso, MI',
 'Las Vegas-Paradise-Pahrump, NV',
 'Lexington-Fayette--Frankfort--Richmond, KY',
 'Lima-Van Wert-Wapakoneta, OH',
 'Little Rock-North Little Rock-Pine Bluff, AR',
 'Longview-Marshall, TX',
 'Los Angeles-Long Beach-Riverside, CA',
 'Louisville-Jefferson County--Elizabethtown--Scottsburg, KY-IN',
 'Lubbock-Levelland, TX',
 'Lumberton-Laurinburg, NC',
 'Macon-Warner Robins-Fort Valley, GA',
 'Madison-Baraboo, WI',
 'Mansfield-Bucyrus, OH',
 'Mayagüez-San Germán-Cabo Rojo  ',
 'Midland-Odessa, TX',
 'Milwaukee-Racine-Waukesha, WI',
 'Minneapolis-St. Paul-St. Cloud, MN-WI',
 'Mobile-Daphne-Fairhope, AL',
 'Monroe-Bastrop, LA',
 'Montgomery-Alexander City, AL',
 'Myrtle Beach-Conway-Georgetown, SC',
 'Nashville-Davidson--Murfreesboro--Columbia, TN',
 'New Orleans-Metairie-Bogalusa, LA',
 'New York-Newark-Bridgeport, NY-NJ-CT-PA',
 'Oklahoma City-Shawnee, OK',
 'Omaha-Council Bluffs-Fremont, NE-IA',
 'Orlando-The Villages, FL',
 'Paducah-Mayfield, KY-IL',
 'Peoria-Canton, IL',
 'Philadelphia-Camden-Vineland, PA-NJ-DE-MD 2',
 'Pittsburgh-New Castle, PA',
 'Ponce-Yauco-Coamo, PR',
 'Portland-Lewiston-South Portland, ME',
 'Raleigh-Durham-Cary, NC',
 'Reno-Sparks-Fernley, NV',
 'Rochester-Batavia-Seneca Falls, NY',
 'Rockford-Freeport-Rochelle, IL',
 'Sacramento--Arden-Arcade--Truckee, CA-NV',
 'Saginaw-Bay City-Saginaw Township North, MI',
 'Salisbury-Ocean Pines, MD',
 'Salt Lake City-Ogden-Clearfield, UT',
 'San Jose-San Francisco-Oakland, CA',
 'San Juan-Caguas-Fajardo, PR',
 'Santa Fe-Espanola, NM',
 'Savannah-Hinesville-Fort Stewart, GA',
 'Seattle-Tacoma-Olympia, WA',
 'Shreveport-Bossier City-Minden, LA',
 'Sioux City-Vermillion, IA-NE-SD',
 'St. Louis-St. Charles-Farmington, MO-IL',
 'Sunbury-Lewisburg-Selinsgrove, PA',
 'Syracuse-Auburn, NY',
 'Toledo-Fremont, OH',
 'Tulsa-Bartlesville, OK',
 'Tyler-Jacksonville, TX',
 'Union City-Martin, TN-KY',
 'Washington-Baltimore-Northern Virginia, DC-MD-VA-WV',
 'Wausau-Merrill, WI',
 'Wichita-Winfield, KS',
 'Williamsport-Lock Haven, PA',
 'York-Hanover-Gettysburg, PA',
 'Youngstown-Warren-East Liverpool, OH-PA',
 nan}

In [77]:
df.dropna()

,CBSA Code,Metro Division Code,CSA Code,CBSA Title,Level of CBSA,"Status, 1=metro 2=micro",Metropolitan Division Title,CSA Title,Component Name,State,FIPS
221,14460,21604,148,"Boston-Cambridge-Quincy, MA-NH",Metropolitan Statistical Area,1,"Essex County, MA","Boston-Worcester-Manchester, MA-RI-NH 2",Essex County,Massachusetts,25009
222,14460,15764,148,"Boston-Cambridge-Quincy, MA-NH",Metropolitan Statistical Area,1,"Cambridge-Newton-Framingham, MA","Boston-Worcester-Manchester, MA-RI-NH 2",Middlesex County,Massachusetts,25017
223,14460,14484,148,"Boston-Cambridge-Quincy, MA-NH",Metropolitan Statistical Area,1,"Boston-Quincy, MA","Boston-Worcester-Manchester, MA-RI-NH 2",Norfolk County,Massachusetts,25021
224,14460,14484,148,"Boston-Cambridge-Quincy, MA-NH",Metropolitan Statistical Area,1,"Boston-Quincy, MA","Boston-Worcester-Manchester, MA-RI-NH 2",Plymouth County,Massachusetts,25023
225,14460,14484,148,"Boston-Cambridge-Quincy, MA-NH",Metropolitan Statistical Area,1,"Boston-Quincy, MA","Boston-Worcester-Manchester, MA-RI-NH 2",Suffolk County,Massachusetts,25025
...,...,...,...,...,...,...,...,...,...,...,...
1785,47900,47894,548,"Washington-Arlington-Alexandria, DC-VA-MD-WV",Metropolitan Statistical Area,1,"Washington-Arlington-Alexandria, DC-VA-MD-WV","Washington-Baltimore-Northern Virginia, DC-MD-...",Falls Church city,Virginia,51610
1786,47900,47894,548,"Washington-Arlington-Alexandria, DC-VA-MD-WV",Metropolitan Statistical Area,1,"Washington-Arlington-Alexandria, DC-VA-MD-WV","Washington-Baltimore-Northern Virginia, DC-MD-...",Fredericksburg city,Virginia,51630
1787,47900,47894,548,"Washington-Arlington-Alexandria, DC-VA-MD-WV",Metropolitan Statistical Area,1,"Washington-Arlington-Alexandria, DC-VA-MD-WV","Washington-Baltimore-Northern Virginia, DC-MD-...",Manassas city,Virginia,51683
1788,47900,47894,548,"Washington-Arlington-Alexandria, DC-VA-MD-WV",Metropolitan Statistical Area,1,"Washington-Arlington-Alexandria, DC-VA-MD-WV","Washington-Baltimore-Northern Virginia, DC-MD-...",Manassas Park city,Virginia,51685
1789,47900,47894,548,"Washington-Arlington-Alexandria, DC-VA-MD-WV",Metropolitan Statistical Area,1,"Washington-Arlington-Alexandria, DC-VA-MD-WV","Washington-Baltimore-Northern Virginia, DC-MD-...",Jefferson County,West Virginia,54037

Checking now: if metropolitan division or

In [72]:
len(df)

1857

In [89]:
pd.DataFrame([df.iloc[:,i].nunique() for i in range(len(df.columns))],
(df.columns), columns=['count'])

                             count
CBSA Code                      951
Metro Division Code             29
CSA Code                       124
CBSA Title                     951
Level of CBSA                    2
Status, 1=metro 2=micro          2
Metropolitan Division Title     29
CSA Title                      125
Component Name                1281
State                           52
FIPS                          1857